.header {
  margin: 0 auto;
  max-width: 114rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  border-bottom: 2px solid $darkGray;
  background-color: $white;

  .logo {
    font-size: 2.2rem;
    font-weight: 800;
  }

  .switch {
    cursor: pointer;
    font-weight: 600;
  }
}
